[submodule "static/js/lib/d3"]
	path = static/js/lib/d3
	url = git://github.com/mbostock/d3.git
[submodule "static/js/lib/three.js"]
	path = static/js/lib/three.js
	url = git://github.com/mrdoob/three.js.git
[submodule "static/js/lib/typecode-js"]
	path = static/js/lib/typecode-js
	url = git://github.com/typecode/typecode-js.git
[submodule "static/js/lib/d3-threeD"]
	path = static/js/lib/d3-threeD
	url = git://github.com/asutherland/d3-threeD.git
[submodule "static/js/lib/threex"]
	path = static/js/lib/threex
	url = git://github.com/jeromeetienne/threex.git
[submodule "static/js/lib/stats.js"]
	path = static/js/lib/stats.js
	url = git://github.com/mrdoob/stats.js.git
[submodule "static/js/lib/modestmaps-js"]
	path = static/js/lib/modestmaps-js
	url = https://github.com/stamen/modestmaps-js/
